@font-face {
    font-family: MyriadPro;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/MyriadPro-Regular.ttf');
    src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
}
